:root {
  --white: #dcddde;
  --grey: rgb(34, 39, 46);
  --font: consolas, monospace;
}
.cprt { font-size: 10px; }
html { font-family: var(--font); cursor: crosshair; }
.container { text-align: center; }
::-webkit-scrollbar { width: 0px; }
h1, h2, h3, h4, h5, h6, tr, th, p { color: var(--white); }
.twitterlink { height: 30px; }
.sample {
  text-align: center;
  font-size: 30px;
  color: var(--white);
}
button { cursor: crosshair; }
table {
  font-family: var(--font);
  width: 100%;
}
td, th {
  border: 1px solid var(--white);
  text-align: left;
  padding: 8px;
  font-size: 10px;
}
.align--center {
  display: inline;
  justify-content: center;
  text-align: center;
}
button {
  background-color: rgba(238, 238, 238, 1);
  border-radius: 3px;
  color: #333;
  font-size: 10px;
  font-weight: 700;
  border: none;
  transition-property: font-size;
  transition-duration: 1s;
}
.button--disabled {
  background-color: rgba(238, 238, 238, 0.61);
  border-radius: 3px;
  color: #333;
  font-size: 10px;
  font-weight: 700;
  border: none;
}
button:hover {
  background-color: rgba(238, 238, 238, 0.61);
  font-size: 11px;
  transition-property: font-size;
  transition-duration: 1s;
}
.button--disabled:hover {
  font-size: 11px;
  transition-property: font-size;
  transition-duration: 1s;
}
.htp {
  color: var(--white);
  text-align: center;
  margin-top: 10px;
}
.image {
  display: inline;
  justify-content: center;
  height: 50px;
  transition-property: height;
  transition-duration: 1s;
}
.image:hover {
  height: 80px;
  transition-property: height;
  transition-duration: 1s;
}
.game {
  display: inline;
  justify-content: center;
  text-align: center;
}
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.border--hashtext {
  border: 1px solid var(--white);
  padding: 5px;
  border-radius: 10px;
}
.reset:hover {
  background-color: red;
  color: var(--white);
}