:root {
  --white: #dcddde;
  --grey: #22272e;
  --font: consolas, monospace;
}
html { font-family: var(--font);}
.container { text-align: center; font-size: 50px; }
::-webkit-scrollbar { width: 0px; }
h1, h2, h3, h4, h5, h6, tr, th, .sample { color: var(--white); }
table {
  font-family: var(--font);
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid var(--white);
  text-align: left;
  padding: 8px;
  font-size: 10px;
}
.align--center {
  display: inline;
  justify-content: center;
}